[General]
ConfigVersion=1.2
InstanceType=OneSix
JoinServerOnLaunch=false
OverrideCommands=false
OverrideConsole=false
OverrideGameTime=false
OverrideJavaArgs=false
OverrideJavaLocation=false
OverrideMemory=false
OverrideMiscellaneous=false
OverrideModLoaderSettings=false
OverrideNativeWorkarounds=false
OverridePerformance=false
OverrideWindow=false
UseAccountForInstance=false
iconKey=default
name=${DISPLAY_NAME}
notes=
