{
    "components": [
        {
            "cachedName": "LWJGL 3",
            "cachedVersion": "3.3.1",
            "cachedVolatile": true,
            "dependencyOnly": true,
            "uid": "org.lwjgl3",
            "version": "3.3.1"
        },
        {
            "cachedName": "Minecraft",
            "cachedRequires": [
                {
                    "suggests": "3.3.1",
                    "uid": "org.lwjgl3"
                }
            ],
            "cachedVersion": "${MINECRAFT_VERSION}",
            "important": true,
            "uid": "net.minecraft",
            "version": "${MINECRAFT_VERSION}"
        
        },
        {
            "cachedName": "Intermediary Mappings",
            "cachedRequires": [
                {
                    "equals": "${MINECRAFT_VERSION}",
                    "uid": "net.minecraft"
                }
            ],
            "cachedVersion": "${MINECRAFT_VERSION}",
            "cachedVolatile": true,
            "dependencyOnly": true,
            "uid": "net.fabricmc.intermediary",
            "version": "${MINECRAFT_VERSION}"
        },
        {
            "cachedName": "Fabric Loader",
            "cachedRequires": [
                {
                    "uid": "net.fabricmc.intermediary"
                }
            ],
            "cachedVersion": "${LOADER_VERSION}",
            "uid": "net.fabricmc.fabric-loader",
            "version": "${LOADER_VERSION}"
        },          
        { 
            "cachedName": "unsup",
            "cachedVersion": "0.2.3",
            "uid": "com.unascribed.unsup"
        }
    ],
    "formatVersion": 1
}
